body {
  background-color: thistle;
}

.header {
  text-align: center;
  height: 80px;
}

#localPlayer {
  text-align: center;
  height: 60px;
}

#turnStatus {
  text-align: center;
  height: 60px;
}

.playerCol {
  border: 1px solid gray;
  margin: 10px;
  height: 300px;
  text-align: center;
}

.implementButton {
  display: block;
  margin: 24px auto;
}

#implements {
  font-size: 100px;
}